body {
	margin: 0;
	padding: 0;
	background: #333;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: none;
}

#axisBackground {
	position: absolute;
}

#axis {
	position: absolute;
}

#shoot {
	position: absolute;
	border: 1px solid #111;
	background: #3A3;
	width: 200px;
	height: 200px;
	-webkit-transition: 25ms background-color linear;
	-moz-transition: 25ms background-color linear;
	-o-transition: 25ms background-color linear;
	-ms-transition: 25ms background-color linear;
	transition: 25ms background-color linear;
}