#chat {
	display: none;
	width: 100%;
	position: fixed;
	bottom: 0;
}

#messages {
	width: 100%;
	height: 100px;
}

#chat form {
	height: 30px;
}

#chat form input[type=text] {
	width: 89%;
}

#chat form input[type=submit] {
	float: right;
	width: 9%;
}
