body {
	margin: 0;
	background: #666;
}

@font-face {
	font-family: LCD_Solid;
	src: url(../data/fonts/LCD_Solid.ttf);
}

@font-face {
	font-family: AdvoCut;
	src: url(../data/fonts/AdvoCut.ttf);
}

#jsapp {
	position: relative;
	width: 100%;
}

canvas {
	position: absolute;
	left: 50%;
	margin-left: -400px;
	margin-top: 20px;
	width: 800px;
	height: 600px;
	z-index: 998;

	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

#controls {
	position: absolute;
	left: 50%;
	margin-left: -340px;
	top: 100px;
	z-index: 999;
}

#controls a {
	margin-right: 20px;
	float: left;
}

#input {
	width: 32px;
	height: 32px;
	background-image: url(../img/input.png);
	background-repeat: no-repeat;
	display: none;
}

#sound {
	width: 32px;
	height: 32px;
	background-image: url(../img/volume.png);
	background-repeat: no-repeat;
	display: none;
}

.soundOn {
	background-position: -32px 0;
}

.smartphone {
	background-position: -32px 0;
}

@media all and (min-height: 130px) and (max-height: 770px) and (min-width: 1100px) {
	canvas {
		left: 0;
		margin-left: 20px;
	}

	#controls {
		left: 60px;
		margin-left: 0;
	}
}
