* { margin: 0; padding: 0; text-decoration: none; border: 0; }
 body {
 	background: #000;
 	background: url(../data/sprites/background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 }
 
 ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #194013;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #194013;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #194013;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #194013;
}

 #login { width: 292px; margin: auto; background: transparent; padding-top: 125px; }
 #logintab { cursor: pointer; width: 146px; height: 53px; margin: auto; float: left; background: url(../data/sprites/login.png) no-repeat; background-position: -2px -58px; }
 #logintab:hover { background-position: -2px -2px; }
 #registertab { cursor: pointer; width: 146px; height: 53px; float: left; background: url(../data/sprites/login.png) no-repeat; background-position: -150px -58px; } 
 #registertab:hover { background-position: -150px -2px; }
 
 .login_selected { background-position: -2px -2px!important; }
 .register_selected { background-position: -150px -2px!important; }

 #colcontent {
 	width:  281px;
 	height: 300px;

 	border-left: 1px solid;
 	border-right: 1px solid;

	border-image: url(../data/sprites/border.png) 1 100%;
 	-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(52,103,45,1)), color-stop(.5, rgba(52,103,45,.85)), to(rgba(52,103,45,0))) 1 100%;
 	-webkit-border-image: -webkit-linear-gradient(rgba(52,103,45,1), rgba(52,103,45,.85), rgba(52,103,45,0)) 1 100%;
 	-o-border-image: -o-linear-gradient(rgba(52,103,45,1), rgba(52,103,45,.85), rgba(52,103,45,0)) 1 100%;
 	-moz-border-image: -moz-linear-gradient(rgba(52,103,45,1), rgba(52,103,45,.85), rgba(52,103,45,0)) 1 100%;
 	border-image: -webkit-linear-gradient(rgba(52,103,45,1), rgba(52,103,45,.85), rgba(52,103,45,0)) 1 100%;
	border-image: -moz-linear-gradient(rgba(52,103,45,1), rgba(52,103,45,.85), rgba(52,103,45,0)) 1 100%;
	border-image: linear-gradient(rgba(52,103,45,1), rgba(52,103,45,.85), rgba(52,103,45,0)) 1 100%;

 	background: -webkit-linear-gradient(top, rgba(14,29,11,1), rgba(14,29,11,.85), rgba(14,29,11,0));
 	background: -moz-linear-gradient(top, rgba(14,29,11,1), rgba(14,29,11,.85), rgba(14,29,11,0));
 	background: -o-linear-gradient(top, rgba(14,29,11,1), rgba(14,29,11,.85), rgba(14,29,11,0));
 	background: -ms-linear-gradient(top, rgba(14,29,11,1), rgba(14,29,11,.85), rgba(14,29,11,0));
 	background: linear-gradient(top, rgba(14,29,11,1), rgba(14,29,11,.85), rgba(14,29,11,0));

 	padding-left: 4px;
 	padding-right: 4px;
 	text-align: center;
 	float: left;
 }
 #colcontent form { margin-top: 20px; }
 #colcontent input[type=text], #colcontent input[type=password] { width: 216px; height: 31px; background: url(../data/sprites/login.png) no-repeat; background-position: -297px -94px; padding: 0 7px; margin-bottom: 20px; color: #194013; font-family: Tahoma; font-size: 12px; }
 #colcontent input[type=text]:focus, #colcontent input[type=password]:focus { outline: none; }
 #colcontent input[type=submit] { cursor: pointer; }

 #guest { cursor: pointer; margin: 0; width: 117px; height: 44px; background: url(../data/sprites/login.png) no-repeat; background-position: -416px -48px; }
 #guest:hover { background-position: -416px -2px; }
 #login_btn { width: 117px; height: 44px; background: url(../data/sprites/login.png) no-repeat; background-position: -535px -48px; }
 #login_btn:hover { background-position: -535px -2px; }
 #register_btn { width: 117px; height: 44px; background: url(../data/sprites/login.png) no-repeat; background-position: -297px -48px; }
 #register_btn:hover { background-position: -297px -2px; }

 #register { display: none; }